body {
  margin: 0;
}
/* header nav */
header{
  display:flex;
  flex-flow: row wrap;
  background-color: lavender;
}

header div img{
  display:block;
  height: 47px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  width:100%;
  display: flex;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.droite{
  margin-left: auto;
}
.imggraph{
  max-width: 150px;
}
.aucentre{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* slider */
.slider {
  width: 1600px;
  height: 550px;
  overflow: hidden;
  margin: 20px auto;
}
.slides {
  width: calc(1600px * 3);
  animation: glisse 10s infinite;
}
.slide {
  float: left;
}
.slide_img .texte {
  position:absolute;
  top:2em;
  color:white;
  font-size:2em;
  width:1600px;      /* même largeur que l’image */
}

@keyframes glisse {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1600px);
  }
  100% {
    transform: translateX(0);
  }
}
/* .slider{
  width:600px;
  overflow: hidden;
  margin: 20px auto;
}

.slides{
  width:calc(600px * 2);
  animation:  glisse 10s infinite;
}
.slide{
  float: left;
}

@keyframes glisse {
  0%{ 
    transform: translateX(0)
  }
  50%{ 
    transform: translateX(-600);
  }
  100%{ 
    transform: translateX(0);
  }
} */
/* footer */
footer{
  background-color: lightslategrey;
  padding: 5%;
}